.texto{
    color: rgb(83, 69, 50);
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.destaque{
    background-position: center;
    color: rgb(58, 26, 14);
}
.leftcolumn{
    border: none;
    float: left;
    background-color:white;
    display: block;
    width: 75%;
    height: 400px;
}
.rigthcolumn{
    float: left;
    border: none;
    display: block;
    width: 20%;
    background-color:white;
    height: 200px;
}
#rigthcolumnsup{
    flex-grow: initial;
}
@media screen and (max-width:800px){
    .leftcolumn, .rigthcolumn{
        display: flex;
        flex-grow: initial;
        flex: 95%;
        padding: 0;
    }
}
body{
    position: relative;
    left: 80px;
    right: 0px;
    align-items: center;
    background: beige url('imagens/galpao.jpg') no-repeat;
    color: rgb(83, 69, 50);
    font: 1em 'Courier New', Courier, monospace;
    width: 95%;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
a:link,a:visited{
    position: relative;
    left: 30px;
    font-size: 150%;
    color: rgb(83, 69, 50);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* mouse over link */
a:hover {
    color: coral;
}
/* selected link */
a:active {
    color: white;
}
#divBusca{
    position: relative;
    left: 30px;
    height:40px;
}
#txtBusca{
    float: left;
    position: relative;
    left: 30px;
    height: 40px;
    background-color: transparent;
    padding-left: 5px;
    width:100px;
    height: 26px;
}
#btnBusca{
    position: relative;
    left: 10px;
    background-color: transparent;
    width: 30px;
    height: 26px;
}
